/*------Global Margin Reset------*/

* {
	margin: 0px;
	padding: 0px;
}
body {
	background-image:url(../img/bg-tile.jpg);
	background-repeat:repeat-x;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}
#header {
	background-image:url(../img/assessmentfinal.jpg);
height: 120px;
}
#header h1 a {
	display:block;
	height:120px;
	text-indent:100%;
	white-space: nowrap;
	overflow:hidden;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #5f014ffd;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}

#content dl {
	margin-top: 5px;
	margin-bottom: 15px;
}

#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}

.alert{
	background-color: #5f014f59;
	color:#FFF
}

h2{
	color:#F26D3D
}
 h3{
	color:#BF1F3C
 }
 
 h4{
	color:#5f014ffd
}

h5{
	color:#D92929;
	font-size: 18px;
}

#content p a:hover {

	background-color:#BF1F3C
}

#content dl{
	color:#8C2A3C
}

#content dd{
	color:#0D0126
}
#content img{
float:right;

}