/*--------------global margin reset---------*/

* {
	margin: 0px;
	padding: 0px;
}

img{

    max-width: 100%;
}


header{
	position: center;
	width:80vw;
max-width:840px
padding:40px auto;
margin:20px auto;
}



header {
background-image:url(../img/assessmentfinal.jpg);
padding:20px;
background-size: 840px;
background-repeat:no-repeat;
background-position: center;
color:#ffffff  
}

nav ul{

	list-style-type: none;
margin-left: 400px;
}

header.primary nav ul li a{
color:#ffffff;
display:flex;
margin-top: 5px;
margin-bottom:5px;
text-align:left;

font-size: 1rem;
text-shadow: 2px 3px #3f043c;


}

h2,h3,h4,h5{
text-align: left;
line-height: 30px;
padding-bottom:10px;

}

main {
	width:80vw;
max-width:900px;
text-align:center;
color: #ffffff;
font-size:16px;

margin:40px auto;

}

body {
	background-image:url(../img/bg-tile.jpg);
	background-repeat:repeat-x;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5rem;
}
main {
	max-width: 840px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #171717;
	margin-top: 20px;
	border: 1px solid #CCC;
}

#nav ul {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display:inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	text-align:left;
	margin-top: 15px;
	margin-bottom: 15px;
}
#footer  {
	background-color: #000;
	color: #ffffff;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
	color:#ffffff;

}
